---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS EITHER.  (THANK YOU.)
carpentry: "sc"    # what kind of Carpentry (must be either "lc" or "dc" or "swc")
venue: "Renewable Energy Systems for Sustainable Future, Second Scientific Conference (2nd -RESF-2018)"        # brief name of host site without address (e.g., "Euphoric State University")
address: "Addis Ababa University,Graduate Building, 9th floor meeting hall"     # full street address of workshop (e.g., "Room A, 123 Forth Street, Blimingen, Euphoria")
country: "et"      # lowercase two-letter ISO country code such as "fr" (see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # lowercase two-letter ISO language code such as "fr" (see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "9.034715, 38.765066"       # decimal latitude and longitude of workshop venue (e.g., "41.7901128,-87.6007318" - use http://www.latlong.net/)
humandate: " June 07-08, 2018"   # human-readable dates for the workshop (e.g., "Feb 17-18, 2020")
humantime: "9:00 am - 5:00 pm "    # human-readable times for the workshop (e.g., "9:00 am - 4:30 pm")
startdate: 2018-06-07 ##     # machine-readable start date for the workshop in YYYY-MM-DD format like 2015-01-01
enddate: 2018-06-08 ##       # machine-readable end date for the workshop in YYYY-MM-DD format like 2015-01-02
instructor: ["Dr. Ahmed Mustefa","Dr. Yedilfana Setarg","Dr. Girum  Abayineh"] # boxed, comma-separated list of instructors' names as strings, like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["TBS"]     # boxed, comma-separated list of helpers' names, like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: ["ahmed.mustefa@aau.edu.et","yedilfana.setarge@aau.edu.et","girum.abayeneh@aau.edu.et"]    # boxed, comma-separated list of contact email addresses for the host, lead instructor, or whoever else is handling questions, like ["marlyn.wescoff@example.org", "fran.bilas@example.org", "ruth.lichterman@example.org"]
collaborative_notes:     https://public.etherpad-mozilla.org/p/2018-06-07-Ethiopia     # optional: URL for the workshop collaborative notes, e.g. an Etherpad or Google Docs document
eventbrite:           # optional: alphanumeric key for Eventbrite registration, e.g., "1234567890AB" (if Eventbrite is being used)

---
<div>
	
<table>
	<tr>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/">Addis Ababa University</a></td>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/cns/center-for-environmental-science/">Center for Environmental Science</a></td>	
</tr>
</table>
</div>

<div>
<table>
	<tr>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/"><img style="display:block;" width="50%" height="15%" src="./fig/photo-1.JPG" alt="Second Scientific Conference Participants"></a></td>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/"><img style="display:block;" width="50%" height="15%" src="./fig/photo-2.JPG" alt="Second Scientific Conference Participants"></a></td>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/"><img style="display:block;" width="50%" height="15%" src="./fig/photo-3.JPG" alt="Second Scientific Conference Participants"></a></td>
	<td align="center" style="background-color:white"><a href="http://www.aau.edu.et/"><img style="display:block;" width="50%" height="15%" src="./fig/photo-4.JPG" alt="Second Scientific Conference Participants"></a></td>
	</tr>
</table>
</div>
<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->

<!--9.0457714,38.7587805
  HEADER"Dagim Yoseph"

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'bin/workshop_check.py' *before* committing to make sure that changes are good.
-->

<!--Dr. Girum  Ayalneh
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframeDr. Girum  Ayalneh
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2 id="general">Theme:</h2>
<ul>
  <li> <strong>Advanced Materials for Energy Conversion and Storage</strong>:
 Advanced Batteries, Supercapacitors, Fuel Cells and Solar Cells</li>
  <li> <strong> Off-grid Energy Options to Rural Ethiopia</strong>:
     Renewable energy potential and Biomass to energy conversion </li>
</ul>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
{% if page.carpentry == "swc" %}
  {% include sc/intro.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/intro.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/intro.html %}
{% elsif page.carpentry == "sc" %}
  {% include dc/sc.html %}
{% endif %}

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
{% if page.carpentry == "swc" %}
  {% include sc/who.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/who.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/who.html %}
{% elsif page.carpentry == "sc" %}
  {% include dc/sc-who.html %}
{% endif %}

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  DATE

  This block displays the date and links to Google Calendar.
-->
{% if page.humandate %}
<p id="when">
  <strong>When:</strong>
  {{page.humandate}}.
  {% include workshop_calendar.html %}
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->

<!--
  ACCESSIBILITY

  Modify the block below if there are any barriers to accessibility or
  special instructions.

<p id="accessibility">
  <strong>Accessibility:</strong> We are committed to making this workshop
  accessible to everybody.
  The workshop organisers have checked that:
</p>

<ul>
  <li>The room is wheelchair / scooter accessible.</li>
  <li>Accessible restrooms are available.</li>
</ul>
<p>
  Materials will be provided in advance of the workshop and
  large-print handouts are available if needed by notifying the
  organizers in advance.  If we can help making learning easier for
  you (e.g. sign-language interpreters, lactation facilities) please
  get in touch (using contact details below) and we will
  attempt to provide them.
</p>
-->
<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the configuration file.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    {% for contact in page.contact %}
      {% if forloop.last and page.contact.size > 1 %}
        or
      {% else %}
        {% unless forloop.first %}
        ,
        {% endunless %}
      {% endif %}
      <a href='mailto:{{contact}}'>{{contact}}</a>
    {% endfor %}
  {% else %}
    to-be-announced
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

{% if page.carpentry == "swc" %}
  {% include sc/schedule.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/schedule.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/schedule.html %}
{% endif %}

<!--
  Collaborative Notes

  If you want to use an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.collaborative_notes %}
<p id="collaborative_notes">
  We will use this <a href="{{page.collaborative_notes}}">collaborative document</a> for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>



