<p id="who">
  <strong> How To Apply for Poster  Presentations:</strong>
</p>
<p>
Registration is required. Researchers and graduate students are cordially invited to apply for participation and/or poster
presentations.
<ul>
  <li>Total number of available seats for participations are 32</li>
  <li>The deadline to apply for participation is May 15</li>
  <li>Only 15 posters will be selected by the organizers</li>
  <li> Selected posters should be submitted by May 22 for edition </li>
</ul>
  <strong>
   The best two posters will be awarded
  </strong>
</p>
