<p>
 <strong> Introduction: </strong>
  
 The conference will cover the scientific progress in the field of advanced energy conversion and storage technologies and
 off-grid renewable energy options to rural Ethiopia. Recent scientific advances in various modern energy systems will be
 discussed in some details among participants. The main goal of this scientific conference is to bring together leading
 scientists and junior researchers to share ideas, experiences and disseminate knowledge on the recent advances, and 
 discuss the way forward to sustainable energy future.
</p>
<p>
  <strong> Objectives: </strong>
<ul>
  <li>To bring together senior and junior researchers in the field of modern  energy technologies and disseminate knowledge and experiences among themselves.</li>
  <li>To present the recent research findings and promote scientific collaborations among research institutes, industries and universities.</li>
  <li>To provide a chance for junior researchers working in the areas of energy conversion and storage systems and off-grid energy options to present their works.</li>
</ul>
</p>





