<p>
 <strong> Introduction: </strong>
</p>
<p>
 The conference will cover the scientific progress in the field of advanced energy conversion and storage technologies and
 off-grid renewable energy options to rural Ethiopia. Recent scientific advances in various modern energy systems will be
 discussed in some details among participants. The main goal of this scientific conference is to bring together leading
 scientists and junior researchers to share ideas, experiences and disseminate knowledge on the recent advances, and 
 discuss the way forward to sustainable energy future.
</p>
<p>
  <strong> Objectives: </strong>
<ul>
  <li>To bring together senior and junior researchers in the field of modern  energy technologies and disseminate knowledge and experiences among themselves.</li>
  <li>To present the recent research findings and promote scientific collaborations among research institutes, industries and universities.</li>
  <li>To provide a chance for junior researchers working in the areas of energy conversion and storage systems and off-grid energy options to present their works.</li>
</ul>
</p>

<p>
 <strong> The conference topics are: </strong>
</p>
<p>
 <ul>
  <li>To bring together senior and junior researchers in the field of modern  energy technologies and disseminate knowledge and experiences among themselves.</li>
  <li>To present the recent research findings and promote scientific collaborations among research institutes, industries and universities.</li>
  <li>To provide a chance for junior researchers working in the areas of energy conversion and storage systems and off-grid energy options to present their works.</li>
</ul>
<ul>
 <ul>
  <li> Advanced Materials for Energy Conversion and Storage </li>
  <li> Rechargeable Lithium-ion, Lithium-sulfur and Metal-air batteries </li>
  <li> Flow batteries  </li>
  <li> Supercapacitors  </li>
  <li>  Fuel cells and solar cells  </li>
 </ul>
<ul>
  <li> Off-grid Energy Options to Rural Ethiopia </li>
  <li> Ethiopia Renewable Energy Potential </li>
  <li> Biomass Conversion Technology </li>
</ul>
</ul>
</p>


