<p>
  <a href="{{site.sc_site}}">Introduction</a>
 he conference will cover the scientific progress in the field of advanced energy conversion and storage technologies and
 off-grid renewable energy options to rural Ethiopia. Recent scientific advances in various modern energy systems will be
 discussed in some details among participants. The main goal of this scientific conference is to bring together leading
 scientists and junior researchers to share ideas, experiences and disseminate knowledge on the recent advances, and 
 discuss the way forward to sustainable energy future.
</p>
